table {
  margin-top: 15px;
  width: 100%;

  tr {
    border: 2px solid black;
    margin: 10px;
    color: $main-color;
  }

  .odd {
    background-color: #e1e1e1;
    color: $second-color;
  }
  .even {
    background-color: #f7f7f7;
    color: $second-color;
  }

  th.up {
    background-image: url("../../assets/up_arrow.png");
  }
  th.down {
    background-image: url("../../assets/down_arrow.png");
  }
  th.default {
    background-image: url("../../assets/default.png");
  }
  th.up,
  th.default,
  th.down {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
  }
}
